<section id="pricing_charts_02">
    <div class="container">
    <!--  
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2  class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Pricing Charts</h2>
                </div>
            </div>
        </div>
    --> 
        <div class="row">
            <div class="col-md-12">
                <div class="chats-wrapper">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/ezbot.png" alt="">
                    <a href="4_install_file/1_bitmex/" class="btn btn-default btn-default-style  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">EZ-BitMEX 다운로드 바로가기 </a>
                </div>
            </div>
        </div>
        
    </div>
</section> <!-- End pricing_charts -->