<section id="ico_news_02" class="ico_news_02">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrapepr">
                    <div class="news-title">
                        <div class="sub-title">
                            <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">게시판 소개</h2>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"></p>
                        </div>
                        <!--<a href="" class="more_news  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"><i class="flaticon-right-arrow"></i>More News</a>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <div class="col-sm-6 col-md-6  col-lg-4 single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="1_intro/" title="">서비스 소개</a></h3>
                    <div class="post-date d-flex justify-content-between">
                        <!--<span class="date">18, 10, 2019</span>-->
                    </div>
                    <p>해당 홈페이지에서 제공하는 서비스에 대하여 소개합니다. </br></br> BITMEX라는 해외 마진거래 사이트 소개 및 매매 프로그램인 EZ-BitMex에 대해 소개합니다.</br> </br> 해당 프로그램에 대한 시뮬레이션 툴인 BackTest에 대해 소개합니다. </p>
                    <a href="1_intro/" title="">소개 페이지 바로가기.</a>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="2_how_to_install/" title="">설치하는 방법</a></h3>
                    <div class="post-date d-flex justify-content-between">
                         <!--<span class="date">18, 10, 2019</span>-->
                    </div>
                    <p> 사이트 가입방법 및 봇 설치 방법에 대해 소개합니다. </br></br> 봇이 24시간 모니터링을 해야하므로 켜있어야 하는데 해결 방법인 VM을 무료로 설치하는 방법을 소개합니다.</br></br> 텔레그램 메신저를 통해 실시간으로 매매내역을 연동하는 방법을 소개합니다. </p>
                    <a href="2_how_to_install/" title="">설치 방법 페이지 보러가기.</a>
                    <hr class = "one">
                </div>
            </div>

            <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                <div class="singel-blog">
                    <h3><a href="3_document/" title="">용어 설명</a></h3>
                    

                    <div class="post-date d-flex justify-content-between">
                         <!--<span class="date">18, 10, 2019</span>-->
                         
                    </div>
                    
                    <p> 레버리지, 포지션, 청산 등 BitMEX에서 마진거래시 사용되는 기본적인 용어를 설명합니다. </br>
                        </br>리스크를 관리하여 수익을 극대화 하기위한 물타기 방법에 대해 설명합니다. </br>
                        </br> 이와 함께 Ez-BitMEX에서 제공되는 옵션에 기능에 대해 소개합니다.
                    </p>

                 
                    <a href="3_document/" title="">용어 설명 페이지 보러가기.</a>
                   
                    <hr class = "one">
                    
                </div>
            </div>
        </div>
    </div>
</section> <!-- End ico_news -->