<section id="pricing_charts_02">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2  class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Pricing Charts</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="chats-wrapper">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/priceing-chats-02.png" alt="">
                    <a href="#" class="btn btn-default btn-default-style  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">See all Charts </a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End pricing_charts -->