{{ "<!-- container -->" | safeHTML }}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="intro-text">
                <h1>Crypto currency is a Digital asset design To work.</h1>
                <p>Collaboratively engineer impactful niches for business dramatically crossunit.</p>
                <div class="btn_video_wrapper">
                    <a href="#" class="btn btn-default btn-default-style">Get Whitelisted</a>
                    <div class="video_wrapper">
                        <div class="video-play-btn">
                            <span><a href="https://www.youtube.com/watch?v=D-6rzZC2Q8Y" class="video-iframe"><i class="fa fa-play"></i><span class="video_title">Presentation</span></a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 img-wrapper">
            <div class="intro-img">
                <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/header-02.png" alt="">
            </div>
        </div>
    </div>

    <div class="row earning-02">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="earning-wrapper">
                <div class="single-earnings">
                    <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/erning-01.png" alt="">
                        <h2>Bitcoin (<span>BTC</span>)</h2>
                    </div>
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <ul>
                            <li><span>Usd</span><span>17,427.10</span></li>
                            <li><span>%2h</span><span><i class="flaticon-download-arrow down-arrow"></i>-3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Eur</span><span>17,427.10</span></li>
                            <li><span>%4h</span><span><i class="flaticon-up-arrow up-arrow"></i> 3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Gpb</span><span>17,427.10</span></li>
                            <li><span>%5h</span><span><i class="flaticon-up-arrow up-arrow"></i> 3.44</span></li>
                        </ul>
                    </div>
                </div>

                <div class="single-earnings">
                    <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/erning-02.png" alt="">
                        <h2>Ethereum (<span>ETM</span>)</h2>
                    </div>
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <ul>
                            <li><span>Usd</span><span>17,427.10</span></li>
                            <li><span>%2h</span><span><i class="flaticon-up-arrow up-arrow"></i>3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Eur</span><span>17,427.10</span></li>
                            <li><span>%4h</span><span><i class="flaticon-download-arrow down-arrow"></i> -3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Gpb</span><span>17,427.10</span></li>
                            <li><span>%5h</span><span><i class="flaticon-up-arrow up-arrow"></i> 3.44</span></li>
                        </ul>
                    </div>
                </div>

                <div class="single-earnings">
                    <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                        <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/icons/erning-03.png" alt="">
                        <h2>LiteCoin (<span>LTC</span>)</h2>
                    </div>
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <ul>
                            <li><span>Usd</span><span>17,427.10</span></li>
                            <li><span>%2h</span><span><i class="flaticon-download-arrow down-arrow"></i>-3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Eur</span><span>17,427.10</span></li>
                            <li><span>%4h</span><span><i class="flaticon-up-arrow up-arrow"></i> 3.44</span></li>
                        </ul>
                        <ul>
                            <li><span>Gpb</span><span>17,427.10</span></li>
                            <li><span>%5h</span><span><i class="flaticon-up-arrow up-arrow"></i> 3.44</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{ "<!-- container -->" | safeHTML }}