
<section id="faq-area-02" class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <div class="faq-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/faq-02.png" alt="" class="img-fluid">
                </div>
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">자주하는 질문</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">처음 사용하시는 분이 자주하는 질문입니다.        </br> 다양한 질문거리는 F&Q에서 확인하세요.</p>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="faq-wrapper">
                    <!--Accordion wrapper-->
                    <div class="panel-group accordion-wrapper" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel accordion-single accordion-01  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        수익이 크나요?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body  accordion-content">
                                    <p>투자하는 대상이 비트코인이기 때문에 암호화폐에 부정적인 생각을 가지신 분은 이 프로그램을 사용하시는 것을 권장하지 않습니다.</br> 이 프로그램은 변동되는 가격에 따라 보유량이 증가합니다.
                                    </br></br>절대적인 보유량이 증가하면 가격이 감소하는 경우 가격방어를 하며, 가격이 오르는 경우 더 많은 수익을 얻을 수 있습니다.
                                    </br></br> 참고로 이메일 문의시 제공하는 옵션은 기본옵션 이외에 안전한 것만 제공될 예정입니다. </br>수익이 큰 리스크 있는 옵션은 제공하지 않습니다. </br> 옵션 문의주시는 경우 청산 위주로 판단해 드리겠습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-02  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        설치 했는데 작동 안해요.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body  accordion-content">
                                    <p>봇이 실행중인 상태라고 무조건 포지션을 잡는것이 아닙니다.</br> 옵션 설정한대로 최적의 순간에 포지션을 들어가기 때문에 기다리셔야 합니다. </br>봇 시작을 누르고 현재 잔고가 보이면 봇이 차트를 읽으면서 진입 시기를 잡고 있는 것입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        위험한거 아니에요?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body  accordion-content">
                                    <p> 아무런 개념없이 시작하면 위험한 것 맞습니다. </br>레버지리, 청산의 관계에 따라 리스크가 바뀌므로 정확히 숙지하는 것이 필요합니다. </br> BACKTEST로 시뮬레이션을 충분히 돌려보시고 판단 후에 시작하시길 바랍니다. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-04  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        설치 과정이 어려워요.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body  accordion-content">
                                    <p> 제 돈을 남한테 맡길수 없는 것처럼, 사용자분의 자산을 제가 맡을수 없습니다. </br> 해당 사이트에서 매매하는 프로그램을 제공하는 것이지에 해당 프로그램이 사용자분의 자산을 건들 수가 없기에 직접 설정하셔야 합니다.
                                    </br></br> 가상머신, 텔레그램 등등 평상시에는 모르는 것들이지만 방법에 대해 본 사이트에서 최대한 친절하게 설명해 두었으니 쉽게 따라할 수 있습니다.</br>
                                        </br> 문의 하실것이 있으시면 아래 다양한 채널 (카카오톡, 텔레그램, 이메일)로 연락 바랍니다.
                                        </br> 옵션, 설치 문의 - 이메일, 텔레그램 </br>기술 및 기능 문의 - 카카오톡 오픈채팅
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End faq-area -->
