<!-- JavaScript Files -->
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/jquery-3.2.1.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/popper.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/jquery.sticky.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/isotope.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/jquery.magnific-popup.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/jquery.countdown.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/smooth-scroll.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/assets/wow.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/cryptonio/js/custom.js"></script>