
<section id="about_cryptonic_02">
    <div class="container">
        <hr class = "one">
        
            <div class="row about_2_item">
                    <div class="col-sm-12 col-md-5 col-lg-7">
                        <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-2-02.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                        <div class="about_cryptonic-content">
                                <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">봇이란 무엇인가요 ?</h2>
                                <hr class = "one">
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">BOT이란, 미리 정해진 규칙으로 매수와 매도하는 자동 거래 프로그램을 말합니다.</p>
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">암호 화폐 시장은 24시간 쉬는 시간 없이 매매가 이루어지기 때문에 사람이 매 순간 시장에 참여하여 거래를 하는 것은 불가능 합니다.</p>
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">EZ-BitMEX 은 프로그램이 동작하는 동안 매 순간 시장을 감시하여 최적의 순간에 매수와 매도를 진행합니다.</p>
                        </div>
                    </div>
                </div>
        
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                        <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">이 프로그램은 무엇을 하나요?</h2>
                        <hr class = "one">
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">주식이나 코인을 가지고 있기만 한다면 가격이 오르는 경우 수익이며, 가격이 내리는 경우 손해를 봅니다.</p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">가격이 아닌 보유량을 절대적으로 늘리면 가격이 오르는 경우 손해를 일부 방어 가능하며, 가격이 올라가는 경우 더 수익을 얻을 수 있습니다. 이러한 부분을 사람이 아닌 컴퓨터가 일정한 규칙에 따라 24시간 모니터링을 하여 보유량을 늘리기 위해 작동합니다.</p>
                        <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">주식 시장은 월 ~ 금, 9시 ~ 3시이지만 코인 시장은 24시간이며, 거래에 따라 보유량을 늘릴 기회가 더욱 많아 비트코인(BTC, XBT)을 활용하게 되었습니다.</p>       
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-2-01.png" alt="">
                </div>
            </div>
        </div>

    

        <div class="row about_2_item">
                <div class="col-sm-12 col-md-5 col-lg-7">
                    <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <img src="{{ .Site.BaseURL }}plugins/cryptonio/images/about-5-01.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                    <div class="about_cryptonic-content">
                            <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">EZ-BitMEX 프로그램은?</h2>
                            <hr class = "one">
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">기본적으로 제공하는 안전 옵션은 하루 2 ~ 3번 거래를 통해 한번 거래에 0.03% ~ 0.1%의 보유량을 늘리는 것을 목표로 합니다.</p>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">단순히 매매, 매도 기능뿐만 아니라 물타기, 손절 등등 다양한 기능을 탑재하였습니다.</p>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">트레이딩 하는 분들을 위해 다양한 옵션을 탑재하였으며, 처음 사용하시는 분들도 사용하기 좋도록 기본 옵션도 제공합니다.</p>
                            <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">시뮬레이션이 가능한 BackTest를 제공하며, 리스크 및 수익률을 미리 예측가능합니다.</p>
        
                    </div>
                </div>
            </div>



            <hr class = "one">

    </div>
</section>  <!-- End about_cryptonic -->