
<footer id="footer-02" class="footer">
    <div class="container">
        <div class="row footer-btm-wrapper">
            <div class="col-md-12 col-lg-12">
                <div class="footer_items">
                    <div class="footer-single-col footer_single_list_1">
                        <h3 class="subtitle_1">&nbsp;<img src="images/logo.png" alt=""></h3>
                        <p>다음 채널을 통해 문의 가능합니다. </br>기술적 문의는 카카오톡으로 문의 부탁드리며, 옵션 관련해서 이메일로 문의해주시면 성심 성의것 답변해 드리겠습니다.</p>
                    </div>

                    <div class="footer-single-col footer_single_list_2">
                        <h3 class="subtitle_1">Kakaotalk</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://open.kakao.com/o/g8WJP1Hb">카카오톡 오픈채팅 열기</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_3">
                        <h3 class="subtitle_1">Telegram 1:1</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://open.kakao.com/o/g8WJP1Hb">텔레그램 1:1 문의하기</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_4">
                        <h3 class="subtitle_1">Email</h3>
                        <ul class="list-unstyled">
                            <li><a href="mailto:ezbitbot@gmail.com">이메일 문의 : ezbitbot@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; 2018, Designed By <span>Ecology Theme</span></p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- ./ End Footer Area-->
