
<footer id="footer-02" class="footer">
    <div class="container">
        <div class="row footer-btm-wrapper">
            <div class="col-md-12 col-lg-12">
                <div class="footer_items">
                    <div class="footer-single-col footer_single_list_1">
                        <h3 class="subtitle_1">&nbsp;<img src="images/logo.png" alt=""></h3>
                        <p>All of our website templates are offered as is, we do not offer any guarantee or warranty website templates are offered as is, we do not offer.</p>
                    </div>

                    <div class="footer-single-col footer_single_list_2">
                        <h3 class="subtitle_1">Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_3">
                        <h3 class="subtitle_1">Help Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Support Policy</a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_4">
                        <h3 class="subtitle_1">Product</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Consumer</a></li>
                            <li><a href="#">Terms Condition</a></li>
                            <li><a href="#">Help & Faq</a></li>
                            <li><a href="#">Priceing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; 2018, Designed By <span>Ecology Theme</span></p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- ./ End Footer Area-->
